[submodule "pack/editing/start/barbar.nvim"]
	path = pack/editing/start/barbar.nvim
	url = https://github.com/romgrk/barbar.nvim
[submodule "pack/editing/start/gruvbox.nvim"]
	path = pack/editing/start/gruvbox.nvim
	url = https://github.com/npxbr/gruvbox.nvim
[submodule "pack/editing/start/hop.nvim"]
	path = pack/editing/start/hop.nvim
	url = https://github.com/phaazon/hop.nvim
[submodule "pack/editing/start/lsp-colors.nvim"]
	path = pack/editing/start/lsp-colors.nvim
	url = https://github.com/folke/lsp-colors.nvim
[submodule "pack/editing/start/lspsaga.nvim"]
	path = pack/editing/start/lspsaga.nvim
	url = https://github.com/glepnir/lspsaga.nvim
[submodule "pack/editing/start/lualine.nvim"]
	path = pack/editing/start/lualine.nvim
	url = https://github.com/hoob3rt/lualine.nvim
[submodule "pack/editing/start/lush.nvim"]
	path = pack/editing/start/lush.nvim
	url = https://github.com/rktjmp/lush.nvim
[submodule "pack/editing/start/markdown-preview.nvim"]
	path = pack/editing/start/markdown-preview.nvim
	url = https://github.com/iamcco/markdown-preview.nvim
[submodule "pack/editing/start/minimap.vim"]
	path = pack/editing/start/minimap.vim
	url = https://github.com/wfxr/minimap.vim
[submodule "pack/editing/start/neoscroll.nvim"]
	path = pack/editing/start/neoscroll.nvim
	url = https://github.com/karb94/neoscroll.nvim
[submodule "pack/editing/start/nvim-colorizer.lua"]
	path = pack/editing/start/nvim-colorizer.lua
	url = https://github.com/norcalli/nvim-colorizer.lua
[submodule "pack/editing/start/nvim-compe"]
	path = pack/editing/start/nvim-compe
	url = https://github.com/hrsh7th/nvim-compe
[submodule "pack/editing/start/nvim-lspconfig"]
	path = pack/editing/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule "pack/editing/start/nvim-treesitter"]
	path = pack/editing/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
[submodule "pack/editing/start/nvim-web-devicons"]
	path = pack/editing/start/nvim-web-devicons
	url = https://github.com/kyazdani42/nvim-web-devicons
[submodule "pack/editing/start/plenary.nvim"]
	path = pack/editing/start/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim
[submodule "pack/editing/start/popup.nvim"]
	path = pack/editing/start/popup.nvim
	url = https://github.com/nvim-lua/popup.nvim
[submodule "pack/editing/start/telescope.nvim"]
	path = pack/editing/start/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim
[submodule "pack/editing/start/telescope-fzf-writer.nvim"]
	path = pack/editing/start/telescope-fzf-writer.nvim
	url = https://github.com/nvim-telescope/telescope-fzf-writer.nvim
[submodule "pack/editing/start/telescope-fzf-native.nvim"]
	path = pack/editing/start/telescope-fzf-native.nvim
	url = https://github.com/nvim-telescope/telescope-fzf-native.nvim
[submodule "pack/editing/start/telescope-ultisnips.nvim"]
	path = pack/editing/start/telescope-ultisnips.nvim
	url = https://github.com/fhill2/telescope-ultisnips.nvim
[submodule "pack/editing/start/ultisnips"]
	path = pack/editing/start/ultisnips
	url = https://github.com/sirver/ultisnips
[submodule "pack/editing/start/vim-cmake"]
	path = pack/editing/start/vim-cmake
	url = https://github.com/vhdirk/vim-cmake
[submodule "pack/editing/start/vim-commentary"]
	path = pack/editing/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "pack/editing/start/vim-repeat"]
	path = pack/editing/start/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "pack/editing/start/vim-surround"]
	path = pack/editing/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "pack/editing/start/nvim-dap"]
	path = pack/editing/start/nvim-dap
	url = https://github.com/mfussenegger/nvim-dap
[submodule "pack/editing/start/nvim-dap-virtual-text"]
	path = pack/editing/start/nvim-dap-virtual-text
	url = https://github.com/theHamsta/nvim-dap-virtual-text
[submodule "pack/editing/start/nvim-dap-ui"]
	path = pack/editing/start/nvim-dap-ui
	url = https://github.com/rcarriga/nvim-dap-ui
[submodule "pack/editing/start/indent-blankline.nvim"]
	path = pack/editing/start/indent-blankline.nvim
	url = https://github.com/lukas-reineke/indent-blankline.nvim
[submodule "pack/editing/start/vimtex"]
	path = pack/editing/start/vimtex
	url = https://github.com/lervag/vimtex
[submodule "pack/editing/start/playground"]
	path = pack/editing/start/playground
	url = https://github.com/nvim-treesitter/playground
[submodule "pack/editing/start/lsp_signature.nvim"]
	path = pack/editing/start/lsp_signature.nvim
	url = https://github.com/ray-x/lsp_signature.nvim
[submodule "pack/editing/start/vim-gitgutter"]
	path = pack/editing/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "pack/editing/start/nvim-treesitter-textobjects"]
	path = pack/editing/start/nvim-treesitter-textobjects
	url = https://github.com/nvim-treesitter/nvim-treesitter-textobjects
[submodule "pack/editing/start/dashboard-nvim"]
	path = pack/editing/start/dashboard-nvim
	url = https://github.com/glepnir/dashboard-nvim
[submodule "pack/editing/start/navigator.lua"]
	path = pack/editing/start/navigator.lua
	url = https://github.com/ray-x/navigator.lua
[submodule "pack/editing/start/guihua.lua"]
	path = pack/editing/start/guihua.lua
	url = https://github.com/ray-x/guihua.lua
[submodule "pack/editing/start/nvim-treesitter-refactor"]
	path = pack/editing/start/nvim-treesitter-refactor
	url = https://github.com/nvim-treesitter/nvim-treesitter-refactor
[submodule "pack/editing/start/symbols-outline.nvim"]
	path = pack/editing/start/symbols-outline.nvim
	url = https://github.com/simrat39/symbols-outline.nvim
[submodule "pack/editing/start/coq_nvim"]
	path = pack/editing/start/coq_nvim
	url = https://github.com/ms-jpq/coq_nvim
[submodule "pack/editing/start/lightspeed.nvim"]
	path = pack/editing/start/lightspeed.nvim
	url = https://github.com/ggandor/lightspeed.nvim
[submodule "pack/editing/start/nest.nvim"]
	path = pack/editing/start/nest.nvim
	url = https://github.com/LionC/nest.nvim
[submodule "pack/editing/start/melange"]
	path = pack/editing/start/melange
	url = https://github.com/savq/melange
[submodule "pack/editing/start/kommentary"]
	path = pack/editing/start/kommentary
	url = https://github.com/b3nj5m1n/kommentary
[submodule "pack/editing/start/stabilize.nvim"]
	path = pack/editing/start/stabilize.nvim
	url = https://github.com/luukvbaal/stabilize.nvim
[submodule "pack/editing/start/vim-easy-align"]
	path = pack/editing/start/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align
[submodule "pack/editing/start/vim-gitignore"]
	path = pack/editing/start/vim-gitignore
	url = https://github.com/gisphm/vim-gitignore
[submodule "pack/editing/start/toggleterm.nvim"]
	path = pack/editing/start/toggleterm.nvim
	url = https://github.com/akinsho/toggleterm.nvim
